{% extends "tabs/veracitor_tab.html" %}

{% block content %}
<h1>Welcome to Veracitor</h1>

<div id="search-type-select">
	<input type="button" name="web" value="Web" />
	<input type="button" name="database" value="Database" />
</div>

<p id="search-info">This is how the chosen search works.</p>

<input type="text" name="search-text" />
<input type="button" name="search-button" value="Search" />
				
<div id="database-search">
	<hr></hr>
    <p>Tags:
	    <label><input type="checkbox" name="terrorism" />Terrorism</label>
	    <label><input type="checkbox" name="sweden" />Sweden</label>
	    <label><input type="checkbox" name="comoros" />Comoros</label>
	</p>
	
    <p>Time period:<br /><p id="period">1968 - 2011</p><img src="{{ STATIC_URL }}images/slider.png" /></p>
</div>

<div id="search-result">
	<h1>Search result</h1>
	
    <table>
        <thead>
            <tr>
                <th>
                    <p>Click on <b>&quot;Web&quot;</b> to search the web and add sources/publications.</p>
                    <p>Click on <b>&quot;Database&quot;</b> to search for sources in the local database.</p>
                </th>
            </tr>
        </thead>
	</table>
</div>
{% endblock %}

