{% extends "tabs/veracitor_tab.html" %}

{% block content %}
<h1>{{ tab.name }}</h1>

{% if session.user_name %}
<p class="greeting">Welcome <b>{{ session.user_name }}</b>!</p>

<!-- 
     Admin interface
-->
{% if session.user_name == 'admin' %}

<div display="block">
  <form id="delete_user">
    <select id="users">
      {% for user in vera.users  %}
      <option value="{{ user }}">{{ user }}</option>
      {% endfor %}
    </select>
    <input type="button" value="Delete user"/>
  </form>
</div>
<br/>
{% endif %}

<input type="button" value="View yourself in the network" id="view_self_in_network"/>

<hr>
<div class="container">
  <div display="block">
    {% if session.user.groups != [] %}
    <p class="header">Your groups:</p>
    <table>
      <tr>
	<th>Group</th>
	<th>Tag</th>
      </tr>
      {% for group in session.user.groups %}
      <tr>
	<td>{{ group.name }}</td>
	<td>{{ group.tag.name }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  </div>
  <div>

  </div>
</div>

<input type="hidden" value="{{ session.user_name }}" id="user_name"/>

{% else %}

<div class="register-content">
  <p>Become a user of Veracitor!</p>
  <p class="error"> </p>
  <form class="register-form">
    <label for="username">Username:</label>
    <input name="username" type="text" class="field"/>
    <label for="password">Password:</label>
    <input name="password" type="password" class="field" />
    <input id="register-button" type="button" value="Register" />
  </form>
</div>
{% endif %}
{% endblock %}
