{% extends "tabs/veracitor_tab.html" %}

{% block content %}
<div id="network-holder">
    <div class="left">
        <div id="network-info-view">
            <div class="body">
                <h1 class="title">Title</h1>
                <p><b>Description: </b><span class="description"></span></p>
                <p><b>URL: </b><span class="url"></span></p>
                <p><b>Source type: </b><span class="type"></span></p>
                <p><b>Informations: </b></p>
                <span class="informations">

                </span>
                <div id="network_rate_producer">
                    <select class="rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <input type="button" class="button" value="Rate producer" />
                </div>
                <input type="button" value="Compute trust" />
                <br/>
                <input type="text" placeholder="Group name" id="group_name" />
                <input type="button" value="Add to group" id="add-to-group" />
            </div>
        </div>
    </div>
    <div class="right">
        <div id="network-graph">
            <div id="cytoscape"></div>
            <div class="info">
                <div class="content"></div>
            </div>
        </div>
        <div id="network-toolbox">
            <div class="body">
                <p><b>Tool-box</b></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
