{% extends "tabs/veracitor_tab.html" %}

{% block content %}
<div id="network-holder">
    <div class="top">
        <div class="left">
            <div id="network-info-view">
                <div class="body">
                    <h1 class="title">Title</h1>
                    <p><b>Description: </b><span class="description"></span></p>
                    <p><b>URL: </b><span class="url"></span></p>
                    <p><b>Source type: </b><span class="type"></span></p>
                </div>
            </div>
            <div id="network-toolbox"></div>
        </div>
        <div class="right">
            <div id="network-graph"></div>
        </div>
    </div>
    <div class="bottom">
        <div id="network-relation-view">
            <div class="source">
                <p><b>Tags: </b><span class="tags"></span></p>
                <p><b>Calculated trust: </b><span id="calculated-trust" class="rating">N/A</span></p>
                <p><input type="button" id="calculate-sunny" value="Calculate trust" /></p>
                <p><b>Your trust level: </b>
                    <form>
                        <label>1<input type="radio" name="trust" checked="true" /></label>
                        <label>2<input type="radio" name="trust" /></label>
                        <label>3<input type="radio" name="trust" /></label>
                        <label>4<input type="radio" name="trust" /></label>
                        <label>5<input type="radio" name="trust" /></label>
                    </form>
                </p>
            </div>
            <div class="target"></div>
        </div>
    </div>
</div>
{% endblock %}
