{% extends "tabs/veracitor_tab.html" %}

{% block content %}
<div id="network-holder">
  <div class="left">
    <div id="network-info-view">
      <div class="body">
        <div class="producer-information">
          <div id="producer-title">
            <div id="fixed-title">
              <h1 class="title" id="producer-name">Title</h1>
              <p>Selected tag: <span id="selected-tag"></span></p>
            </div>
          </div>
          <p><b>Description: </b><span class="description"></span></p>
          <p><b>URL: </b><span class="url"></span></p>
          <p><b>Source type: </b><span class="type"></span></p>
          <p><b>Informations: </b></p>
          <div class="informations list"></div>
	      <p><b>Your ratings:</b></p>
	      <div class="user-ratings list"></div>
        </div>
	    <p><b>Actions:</b></p>
        <div id="network_rate_producer" class="network-info-piece">
	      <p>Rate producer <span class="icon question-mark"></span></p>
	      <p class="tip-text">
	        Give a trust rating to selected producer using a specific tag.
	      </p>
	      <select id="rate-producer-tag" class="tag-dropdown"></select>
	      <select class="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
          </select>
          <input type="button" class="button" value="Rate producer" />
	      <div class="feedback"></div>
        </div>
	    <div id="network-compute-trust" class="network-info-piece">
	      <p>Compute trust <span class="icon question-mark"></span></p>
	      <p class="tip-text">
	        Get an assessment on how much you should trust the selected producer
	        based on how much other nodes trust it.
	      </p>
	      <select id="compute-trust-tag" class="tag-dropdown"></select>
          <input type="button" value="Compute trust" id="compute-trust"/>
	      <div class="feedback win">
            <p>
              Trust: <span id="trust-result" class="rating"></span>
              <span class="icon question-mark"></span>
            </p>
            <p class="tip-text">
              Based on how you have rated your neighbours, and how they have rated
              theirs, and so on and so on, this is the trust value for how reliable
              one would consider the selected producer to be.
            </p>
            <p>
              Threshold: <span id="trust-result-threshold"></span>
              <span class="icon question-mark"></span>
            </p>
            <p class="tip-text">
              The lowest trust rating of the edges used in the trust calculation.
            </p>
          </div>
          <div class="feedback fail">
            <p>Trust calculation failed. <span class="icon question-mark"></span></p>
            <p class="tip-text">
              Trust calculations fail when there is no path between the source node (you)
              and the sink node, or when the trust could not be calculated accurately enough.
              Make sure you specified the correct tag when calculating the trust.
            </p>
            <p id="fail-message"></p>
          </div>
	    </div>

        <div id="network-add-group" class="network-info-piece">
	      <p>Add to group <span class="icon question-mark"></span></p>
	      <p class="tip-text">
	        Add the selected producer to one of your groups (group management, such
	        as adding an editing groups, is done under the Ratings tag).
	      </p>
          <select id="group_name"></select>
          <input type="button" value="Add to group" id="add-to-group" />
	      <div class="feedback"></div>
	    </div>
      </div>
    </div>
  </div>
  <div class="right">
    <div id="network-graph">
      <div id="cytoscape"></div>
      <div class="info">
        <div class="content"></div>
      </div>
    </div>
    <div id="network-toolbox">
      <div class="body">
        <p>
          <label>Filter network by tag: 
            <select id="global-tags" class="tag-dropdown"></select>
          </label>
          <span class="icon question-mark"></span>
        </p>
        <div class="tip-text">
          <p>This option changes what is displayed in the graph, by filtering out ratings
          that are not under the selected tag. With the network filtered, the value of
          the ratings are displayed over each edge.</p>
          <p>
          This option also changes the tags used when calculating trust and rating
          producers (in the column to the right), although these can be changed
          individually.</p>
        </div>
    
	   
        <!--
        <div class="ui-widget">
          <label>Tag free <input id="tag-autocomplete" /></label>
        </div>
        -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
