{% extends "tabs/veracitor_tab.html" %}

{% block content %}
<h1>{{ tab.name }}</h1>

<div class="table">
	<div class="left" style="float:left; margin-right: 200px">
	<h2>Producers</h2>
	  <label for="tags">Tag:</label>
	  <select name="tags" id="tags">
	    <option value="crime">Crime</option>
	    <option value="gardening">Gardening</option>
	  </select>
	  <br/>
	  <label for="groups">Group:</label>
	  <select name="groups" id="groups">
	    {% for group in groups  %}
	    <option value="{{ group.name }}">{{ group.name  }}</option>
	    {% endfor  %}
	  </select>
	  <input type="button" value="Rate group" id="rate-group"/>
	  <br/>
	  <div id="new-group-form" style="display:none; float: left;">
	    <form id="new-group-form">
	      <input id="name" type="text" placeholder="Group name"/>
	      <input type="button" value="Create group" id="create-group"/>
	    </form>
	  </div>
	  <input type="button" value="+ New group" id="new-group"/>
	  <br/>
<table style="width:260px" id="producer-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Credibility rating</th>
    </tr>
</head>
<tbody>
  {% for producer in source_ratings  %}
    <tr class='row' style="text-align:center;">
    <td class='name'>{{ producer.name  }}</td>
    <td class='rating'>
      <div class="rating">{{ producer.rating  }}</div>
    </td>
    </tr>
  {% endfor  %}
</tbody>
</table>
</div>

<div class="right" style="float: left; width:200px">
  <h2>Information</h2>
     <label for "producers">Producer:</label>
    <select name="producers" id="producers">
    {% for producer in source_ratings  %}
      <option value="{{ producer.name  }}">{{ producer.name  }}
    {% endfor  %}
    </select>
    <label for="tags">Tag:</label>
    <select name="tags" id="tags">
      <option value="crime">Crime</option>
      <option value="gardening">Gardening</option>
    </select>
    <br/>
    <input type="button" value="Filter" id="filter-information"/>
  <table style="width:240px" id="information-table">
    <thead>
      <tr>
	<th>Name</th>
	<th>Factual rating</th>
      </tr>
</head>
<tbody>
  {% for information in info_ratings  %}
  <tr class='row' style="text-align:center;">
    <td class='name'>{{ information.title  }}</td>
    <td class='rating'>
      <div class="rating">{{ information.rating  }}</div>
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>
</div>
</div>


{% endblock %}
