{% block content %}

<div class="table">
  <div class="left">
    <h2>Rated producers</h2>
    <div display='block' id="filters">
      <label for="prod-tags">Tag:</label>
      <select name="tags" class="tags" id="prod-tags">  
	<!--
	    Populated from controller/js.
	  -->
      </select>
      <div display="block">	
	<div id="group-info-div">
	  <div id="group-form-border-div">
	    <label for="groups">Group:</label>
	    <select name="groups" id="groups">
	      <option value="all">-</option>
	      <!-- TODO: Fix group rating! -->
	      {% for group in renderDict.groups  %}
	      {% if group.name in renderDict.group_ratings %}
	      <option value="{{ group.name }}">{{ group.name }} - {{ renderDict.group_ratings[group.name] }}</option>
	      {% else  %}
	      <option value="{{ group.name }}">{{ group.name }}</option>
	      {% endif  %}
	      {% endfor %}
	    </select>
	    <!-- Working inline rating circle. Not implemented
	    <span class="rating">5
	    </span>
	    -->
	    <input type="button" value="Rate group" id="rate-group"/>
	    <div id="rate-group-form-div" style="display:none;">
	      <form id="rate-group-form">
		<label for='rate-group-rating' id='rating_label'>Rating:</label>
		<select id='rate-group-rating'>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		</select>
		<input type="button" value="Rate group" id="rate-group-submit"/>
	      </form>
	    </div>
	  </div>
	  <input type="button" value="+ New group" id='new-group'/>
	</div>
	<div id="new-group-form-div" style="display:none;">
	  <form id="new-group-form">
	    <label for='create-group-tag' id='tag_label'>Tag:</label>
	    <select id='create-group-tag'>
	      {% for tag in renderDict.tags  %}
	      <option value='{{ tag  }}'>{{ tag  }}</option>
	      {% endfor %}
	  </select>
	    <input id="name" type="text" placeholder="Group name"/>
	    <input type="button" value="Create group" id="create-group"/>
	  </form>
	</div>
      </div>
    </div>
    <div id='producer-list-container'>
      <div id='producer-list'>
	<div class='gardening'>
	  <h3>Producer1 <div class='rating'>9</div></h3>
	  <div>
	    <div class='description'>
	      <p>Description of Producer1 bla bla blbababd desc desc bla.</p>
	    </div>
	  </div>
	</div>
	{% for producer in renderDict.source_ratings %}
	<div class='{{ producer.tag }}'>
	  <h3>{{ producer.name }} <div class='rating'>{{ producer.rating }}</div></h3>
	  <div>
	    <div class='description'>
	      <p>{{ producer.description }}</p>
	      <input type="button" value="View in network" class="view_in_network"/>
	      <input type="hidden" value="{{ producer }}"
	    </div>
	  </div>
	</div>
	{% endfor %}
      </div>
    </div>
  </div>
</div>
</div>
  
  <div class="right">
    <h2>Rated information</h2>
  <div display='block'>
    <!-- Disabled producer filtering. TODO: Maybe implement
	 <label for "producers">Producer:</label>
	 <select name="producers" id="producers">
	   {% for producer in source_ratings  %}
	   <option value="{{ producer.name  }}">{{ producer.name  }}
	     {% endfor  %}
    </select>
	 <br/>
	 -->
    <label for="info-tags">Tag:</label>
    <select name="tags" class="tags" id="info-tags">
      <!-- TODO: remove these dummy-tags -->
      <option value="crime">Crime</option>
      <option value="gardening">Gardening</option>
    </select>
  </div>
  <div id='information-list-container'>
    <div id='information-list'>
      <div class='crime'>
	<h3>Article1 <div class='rating'>4</div></h3>
	<div>
	  <p>Information about Article1</p>
	</div>
      </div>
      <div class='gardening'>
	<h3>Article2 <div class='rating'>7</div></h3>
	<div>
	  <p>Information about Article2</p>
	</div>
      </div>
      <!-- TODO: Fixa tag-filtrering! -->
      {% for information in renderDict.info_ratings  %}
      <h3>{{ information.name }} <div class='rating'>{{ information.rating }}</div></h3>
      <div>
	<p>URL: <a href="{{ information.url }}">{{ information.url  }}</a></p>
      </div>
      </div>
      {% endfor %}
</div>
{% endblock %}
