{% extends "tabs/veracitor_tab.html" %}

{% block content %}
<h1>Welcome to Veracitor</h1>

<div id="search-tabs">
    <div class="head">
        <div id="database-search-tab" class="tab"><a href="javascript:;">Database search</a></div>
        <div id="add-entity-tab" class="tab"><a href="javascript:;">Add a source or information</a></div>
    </div>
    <div class="body">
        <div id="database-search-content" class="content">
            <p>Perform a local search in the database for sources or information.</p>

            <input type="text" id="database-search-field" />

            <div id="search-type-source" class="search-type">
                <input class="radio" type="radio" name="search-type" value="producer" checked />
                <h2>Search for sources</h2>

                <div class="content">
                    <div class="overlay">
                    </div>
                    <form id="search-types">
                        <label for="search-type-producer">Producers</label>
                        <input type="checkbox" id="search-type-producer" value="Producer" checked />
                        <label for="search-type-user">Users</label>
                        <input type="checkbox" id="search-type-user" value="User" />
                    </form>
                </div>
            </div>

            <div id="search-type-information" class="search-type">
                <input class="radio" type="radio" name="search-type" value="information" />
                <h2>Search for information</h2>

                <div class="content" id="information-search">
                    <div class="overlay">
                    </div>
                    <div>Time period: <div id="time-period"></div></div>
                    <div id="slider-container">
                        <div id="slider-labels"></div>
                        <div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"></div>
                    </div>
                </div>
            </div>

            <input type="button" id="database-search-button" value="Search" />
        </div>
        <div id="add-entity-content" class="content">
            <input type="text" id="crawler-search-field" name="search-text" />
            <input type="button" id="crawler-search-button" name="search-button" value="Search" />
        </div>
    </div>
    <div class="result">
        <h1>Search result</h1>

        <div id="search-result"></div>
    </div>
</div>
{% endblock %}
