{% extends "tabs/veracitor_tab.html" %}

{% block content %}
<h1>Welcome to Veracitor</h1>

<p id="search-info">
    Perform a local search in the database for sources or publications.
</p>

<input type="text" name="search-text" />
				
<input type="text" name="search-type-text" />
<p>Type:
    <label><input type="checkbox" name="Producer" />Producer</label>
    <label><input type="checkbox" name="User" />User</label>
    <label><input type="checkbox" name="newspaper" />Newspaper</label>
</p>

<p>Time period:
    <br />
    <p id="period">1968 - 2011</p>
    <img src="{{ url_for('static', filename='images/slider.png') }}" />
</p>

<input type="button" name="search-button" value="Search" />

<h1>Search result</h1>

<div id="search-result"></div>
{% endblock %}

