Flask==0.9
Jinja2==2.6
Scrapy==0.16.4
Twisted==12.3.0
Werkzeug==0.8.3
amqp==1.0.10
anyjson==0.3.3
billiard==2.7.3.23
celery==3.0.17
celery-with-mongodb==3.0
kombu==2.5.8
lxml==3.1.0
mongoengine==0.7.9
networkx==1.7
numpy==1.7.0
pyOpenSSL==0.13
pymongo==2.5
python-dateutil==1.5
txJSON-RPC==0.3.1
w3lib==1.2
wsgiref==0.1.2
zope.interface==4.0.5
