/* NETWORK VIEW */

#network table {
    width: 600px;
    border-collapse: collapse;
}

#network td {
    border: 1px solid #bbb;
}

/* NETWORK INFO */

#network-info-view {
    width: 400px;
}

/* NETWORK GRAPH */

#network-holder {
	position: absolute;
	left: 420px; right: 20px;
	top: 30px;

	background-color: #fff;
	-webkit-box-shadow: 5px 5px 11px rgba(50, 50, 50, 0.25);
	-moz-box-shadow: 5px 5px 11px rgba(50, 50, 50, 0.25);
	box-shadow: 5px 5px 11px rgba(50, 50, 50, 0.25);
}

#network-graph {
	width: 100%;
	height: 400px;
}

#network-toolbox {
    width: 100%;
    height: 300px;

    border: 1px solid #666;
}
