/* RATINGS VIEW */

#ratings_view #producer-list-container, #ratings_view #information-list-container {
    width: 360px;
}

#ratings_view h3 {
    position: relative;
}

#ratings_view div.description p {
    font-size: 12px;
}

#ratings_view div.rating {
    float: right;
    position: absolute;
    right: 8px;
    top: 4px;
}

#ratings_view div#new-group-form-div {
    border: 1px solid;
    margin-top: 2px;
    float: left;
}


#ratings_view > .content .left {
    float: left;
    margin-right: 140px;
    width: 340px;
}

#ratings_view > .content .right {
    float: left;
    width: 340px;
}

#ratings_view input.view_in_network {
    float:right;
    font-size: 10px;
    padding: 0px 5px;
}

#ratings_view span.header-span {
    color: green;
    font-style: bold;
}

#ratings_view div#rate-border-div {
    float: left;
}