/* RATINGS VIEW */

#ratings_view #producer-list-container, #ratings_view #information-list-container {
    width: 360px;
}

#ratings_view h3 {
    position: relative;
}

#ratings_view div.description p {
    font-size: 12px;
}

#ratings_view #producer-list div.rating, #ratings_view #information-list div.rating  {
    float: right;
    position: absolute;
    right: 8px;
    top: 4px;
}

#ratings_view div#new-group-form-div {
    border: 1px solid;
    margin-top: 2px;
    float: left;
}

#ratings_view div#filters {
    overflow: hidden;
}

#ratings_view div#group-form-border-div {
    float: left;
}


#ratings_view > .content .left {
    float: left;
    margin-right: 140px;
    width: 360px;
}

#ratings_view > .content .right {
    float: left;
    width: 340px;
}

#ratings_view input.view_in_network {
    float:right;
    font-size: 10px;
    padding: 0px 5px;
}

#ratings_view span.header-span {
    color: green;
    font-style: bold;
}

#ratings_view div#group-info-div {
    float: left;
}


/*
* Working css for inline rating circle (next to the group dropdown.
* Currently not implemented.
*/
#ratings_view span.rating {
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 12px;

    width: 20px;
    height: 20px;
    border: 1px solid black;

    background: rgb(217,236,239); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(217,236,239,1) 0%, rgba(198,228,232,1) 50%, rgba(183,215,223,1) 51%, rgba(214,232,240,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(217,236,239,1)), color-stop(50%,rgba(198,228,232,1)), color-stop(51%,rgba(183,215,223,1)), color-stop(100%,rgba(214,232,240,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(217,236,239,1) 0%,rgba(198,228,232,1) 50%,rgba(183,215,223,1) 51%,rgba(214,232,240,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(217,236,239,1) 0%,rgba(198,228,232,1) 50%,rgba(183,215,223,1) 51%,rgba(214,232,240,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(217,236,239,1) 0%,rgba(198,228,232,1) 50%,rgba(183,215,223,1) 51%,rgba(214,232,240,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(217,236,239,1) 0%,rgba(198,228,232,1) 50%,rgba(183,215,223,1) 51%,rgba(214,232,240,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9ecef', endColorstr='#d6e8f0',GradientType=0 ); /* IE6-9 */

    -moz-box-shadow: 0px 1px 2px #999;
    -box-shadow: 0px 1px 2px #999;
    -shadow: 0px 1px 2px #999;
    box-shadow: 0px 1px 2px #999;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#ratings_view span.warning {
    color: red;
}