/* SEARCH VIEW */

#search-type-select {
    overflow: auto;
}

#search-type-select input {
    width: 280px;
    float: left;
    margin-right:10px;
}

#database-search {
    width: 600px;
}

#search-result p {
    margin: 10px 0;
}

#search-result p p {
    margin: 2px 0;
}

#search-result p label {
    margin-right: 15px;
}

#search-result p input {
    margin-right: 2px;
}

#search-result table td p {
    margin: 3px 0px;
}

#search-result table td p.title {
    font-weight: 600;
}

#search-result table td p.source {

}

#search-result table td p.href {
    font-size: 11pt;
}

#search-result table td p.summary {
    font-size: 11pt;
}

#search-result table tbody tr {
    background-color: #fff;
}

#search-result table tbody tr.clickable {
    cursor: default;
    
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

#search-result table tbody tr.clickable:active {
	background: rgb(231,231,231); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(231,231,231,1) 0%, rgba(193,193,193,1) 49%, rgba(206,206,206,1) 50%, rgba(240,240,240,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(231,231,231,1)), color-stop(49%,rgba(193,193,193,1)), color-stop(50%,rgba(206,206,206,1)), color-stop(100%,rgba(240,240,240,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(231,231,231,1) 0%,rgba(193,193,193,1) 49%,rgba(206,206,206,1) 50%,rgba(240,240,240,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(231,231,231,1) 0%,rgba(193,193,193,1) 49%,rgba(206,206,206,1) 50%,rgba(240,240,240,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(231,231,231,1) 0%,rgba(193,193,193,1) 49%,rgba(206,206,206,1) 50%,rgba(240,240,240,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(231,231,231,1) 0%,rgba(193,193,193,1) 49%,rgba(206,206,206,1) 50%,rgba(240,240,240,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
}

#search-result table tbody tr.clickable td {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#search-result table th {
	border: none;
}

#search-result table thead th {
    text-align: left;
    padding: 0 0 10px 0;
}

#search-result table thead th.rating {
    text-align: center;
}

#search-result table thead p {
    margin: 2px;
    font-weight: 400;
}

#search-result table tbody td {
    padding: 5px;
}

#search-result table td.rating {
    background-color: #eee;
    border: 1px solid #eee;
    position: relative;
    padding: 6px 10px;
}

#search-result table td.rating div {
    text-align: center;
    line-height: 40px;

    margin: auto auto;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    
    background: rgb(217,236,239); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(217,236,239,1) 0%, rgba(198,228,232,1) 50%, rgba(183,215,223,1) 51%, rgba(214,232,240,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(217,236,239,1)), color-stop(50%,rgba(198,228,232,1)), color-stop(51%,rgba(183,215,223,1)), color-stop(100%,rgba(214,232,240,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(217,236,239,1) 0%,rgba(198,228,232,1) 50%,rgba(183,215,223,1) 51%,rgba(214,232,240,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(217,236,239,1) 0%,rgba(198,228,232,1) 50%,rgba(183,215,223,1) 51%,rgba(214,232,240,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(217,236,239,1) 0%,rgba(198,228,232,1) 50%,rgba(183,215,223,1) 51%,rgba(214,232,240,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(217,236,239,1) 0%,rgba(198,228,232,1) 50%,rgba(183,215,223,1) 51%,rgba(214,232,240,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9ecef', endColorstr='#d6e8f0',GradientType=0 ); /* IE6-9 */

    -moz-box-shadow: 0px 3px 6px #000;
    -box-shadow: 0px 3px 6px #000;
    -shadow: 0px 3px 6px #000;
    box-shadow: 0px 3px 6px #999;
}

#search-result table td.user-rating div {
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
}

