{% extends index.html %}
{% block login %}
{% if session.user %}
<p id="login">Logged in as <b>{{ vera.user_name }}</b>.
  <button type="button"><a href="{{ url_for('logout') }}">logout</button></p>
{% else %}
{% if request.error %}
<p class="error">{{ request.error }}</p>
{% endif %}
<form id="login" action="/login" method="post">
  <label for="username">Username:</label>
  <input name="username" type="text">
  <label for="password">Password:<label>
      <input name="password" type="password">
      <input type="submit" value="login">
</form>
{% endif %}
{% endblock%}
